<% provide(:title, 'Sign up') %>
<%= page_heading('Sign up')%>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user, :html => {'role' => 'form'}) do |f| %>
			<%= render 'shared/error_messages', model: @user %>
			<%= render 'fields', f: f, model1: @user %>
	
			<%= f.submit "Create my account", class: "btn btn-sm btn-primary" %>
		<% end %>
	</div>
</div>