<div id="div_<%=id%>" class="datepicker"
	  data-option-url="appointments/:employee_id:/unavaiable_dates.json" >
	<script id="div_<%=id%>_s" type="text/javascript">
		var array = ["2014-02-14","2014-03-04","2014-03-18"];
		
				
		$("#div_<%=id%>").datepicker({
			defaultFormat : "yy-mm-dd",
			defaultDate : $("#<%=id%>").newDate(),
			minDate : 0,
			maxDate : "+1M +10D",
			altField : "input#txt_<%=id%>",
			altFormat : "yy-mm-dd",
			beforeShowDay : function(date) {
				var string = $.datepicker.formatDate('yy-mm-dd', date);
        		var day = date.getDay();
        		var data = $("#<%=id%>")
				/*if (data != null)
					$.each(data, function(i, object) {
						data.push
					});*/
        		
				// day 0 equal Sunday
				return [!((day == 0) || array.indexOf(string) != -1) ];
			}
		});
		///$("#div_<%=id%>").change(function(){
		//	var url_mask = $(this).data('option-url');
		//	var data = [];
		//	data.json(url_mask, $("#appointment_employee_id").val());
			//$(this).datepicker( "refresh" );
		//});
	</script>
</div>