<% content_for :head do %>
	<%= javascript_include_tag "appointment", "data-turbolinks-track" => true %>
<% end %>

<% provide(:title, "New appointment") %>
<%= page_heading('New appointment')%>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@appointment, url: appointments_path) do |f| %>
    <%= render 'shared/error_messages', model: @appointment %>
    <div class="form-group">
      <%= f.select(:employee_id, employees_for_select, {},
:class => "form-control input-sm")  %>
    </div>
	  <%= render "shared/category_service_dependent", f: f, model: @appointment, category_id: params[:category_id] %>
	<div class="form-group">
      <%= f.label :appointment_date %>
      <%= f.datetime_field :appointment_date, class: "form-control input-sm" %>
	</div>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      <%= f.submit "Cancel", class: "btn btn-large btn-default", :name => "cancel" %>
    <% end %>
  </div>
</div>