<% content_for :head do %>
	<%= javascript_include_tag "appointment", "data-turbolinks-track" => true %>
<% end %>

<% provide(:title, "New appointment") %>
<%= page_heading('New appointment')%>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@appointment, url: appointments_path) do |f| %>
    <%= render 'shared/error_messages', model: @appointment %>
    <%= f.fields_for :employees do |es| %>
	    <div class="form-group">
	    	<%= es.collection_select :employee_id, User.where(:employee => true).order(:name), :id, :name, 
	    		{include_blank: true}, 
	    		{:class => "dynamic-select form-control input-sm", "data-children" => "appointment_services_category_id|appointment_services_service_id"} %>
	    </div>
	        
  	<% end %>
	<%= f.fields_for :services do |s| %>
	    <div class="field">
			<%= s.label :category_id %><br />
			<%= s.grouped_collection_select :category_id, User.where(:employee => true).order(:name), :categories, :name, :id, :text, 
				{include_blank: true}, 
	    		{:class => "dynamic-select form-control input-sm", "data-children" => "appointment_services_service_id"} %>
	  	</div>
	  	<div class="field">
			<%= s.label :service_id %><br />
			<%= s.grouped_collection_select :service_id, Category.all.order(:text), :services, :text, :id, :text, 
				{include_blank: true}, 
	    		{:class => "form-control input-sm"} %>
	  	</div>
  	<% end %>
	<div class="form-group">
      <%= f.label :appointment_date %>
      <%= f.datetime_field :appointment_date, class: "form-control input-sm" %>
	</div>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      <%= f.submit "Cancel", class: "btn btn-large btn-default", :name => "cancel" %>
    <% end %>
  </div>
</div>