<% content_for :head do %>
	<%= stylesheet_link_tag    "calendar", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "appointment", "data-turbolinks-track" => true %>
<% end %>

<% provide(:title, "New appointment") %>
<%= page_heading('New appointment')%>
    <%= form_for(@appointment, url: appointments_path) do |f| %>
    <%= render 'shared/error_messages', model: @appointment %>
    <% @template = "appointment_" %>
    <% @date 
    @dates = []%>
    
    <div class="form-group">
    	<%= f.label :employee_id %>
		<%= f.collection_select :employee_id, User.where(:employee => true).order(:name), :id, :name, 
			{include_blank: true}, 
			{:class => "dynamic-select form-control input-sm", 
				"data-children" => @template+"category_id|"+@template+"appointment_date",
				"data-option-initial-value" => f.object.employee_id} %>
    </div>
    
    <div class="form-group">
		<%= f.label :category_id %>
		<%= f.grouped_collection_select :category_id, [], :categories, :name, :id, :text, 
			{include_blank: true}, 
    		{:class => "dynamic-select form-control input-sm", 
    			"data-children" => @template+"service_id",
				"data-option-initial-value" => f.object.category_id,
				"data-option-url" => "categories/:employee_id:/employee_categories.json",
				"data-option-key-method" => :id,
				"data-option-value-method" => :text} %>
  	</div>
	
  	<div class="form-group">
		<%= f.label :service_id %>
		<%= f.grouped_collection_select :service_id, [], :services, :text, :id, :text, 
			{include_blank: true}, 
    		{:class => "dynamic-select form-control input-sm",
				"data-option-initial-value" => f.object.service_id,
				"data-option-url" => "categories/:category_id:/category_services.json",
				"data-option-key-method" => :id,
				"data-option-value-method" => :text} %>
  	</div>
	
	
	
	
	<div class="form-group">
      <%= f.label :appointment_date %>
      <input type="hidden" id="txt_appointment_appointment_date" />
	  <%= f.collection_select :appointment_date, [], 0, 1, 
			{include_blank: false}, 
			{:class => "dynamic-select form-control input-sm",
				"data-option-url" => "appointments/:employee_id:/unavaiable_dates.json",
				"data-option-key-method" => 0,
				"data-option-value-method" => 1} %>
	  
	  <%= render 'shared/calendar_schedule', id: "appointment_appointment_date" %>
	</div>
	
	<div class="form-group">
      <%= f.label :appointment_time %>
      <%= f.time_select :appointment_time, ampm: true, minute_step: 15, class: "form-control input-sm" %>
	</div>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      <%= f.submit "Cancel", class: "btn btn-large btn-default", :name => "cancel" %>
    <% end %>