<% content_for :head do %>
	<%= javascript_include_tag "appointment", "data-turbolinks-track" => true %>
<% end %>

<% provide(:title, "New appointment") %>
<%= page_heading('New appointment')%>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@appointment, url: appointments_path) do |f| %>
    <%= render 'shared/error_messages', model: @appointment %>
    <% @template = "appointment_" %>
    
    <div class="form-group">
    	<%= f.label :employee_id %>
		<%= f.collection_select :employee_id, User.where(:employee => true).order(:name), :id, :name, 
			{include_blank: true}, 
			{:class => "dynamic-select form-control input-sm", 
				"data-children" => @template+"category_id",
				"data-option-initial-value" => f.object.employee_id} %>
    </div>
    
    <div class="form-group">
		<%= f.label :category_id %>
		<%= f.grouped_collection_select :category_id, User.where(:employee => true).order(:name), :categories, :name, :id, :text, 
			{include_blank: true}, 
    		{:class => "dynamic-select form-control input-sm", 
    			"data-children" => @template+"service_id",
				"data-option-initial-value" => f.object.category_id} %>
  	</div>
	
  	<div class="form-group">
		<%= f.label :service_id %>
		<%= f.grouped_collection_select :service_id, Category.all.order(:text), :services, :text, :id, :text, 
			{include_blank: true}, 
    		{:class => "dynamic-select form-control input-sm",
				"data-option-initial-value" => f.object.service_id} %>
  	</div>

	<div class="form-group">
      <%= f.label :appointment_date %>
      <%= f.datetime_field :appointment_date, class: "form-control input-sm" %>
	</div>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      <%= f.submit "Cancel", class: "btn btn-large btn-default", :name => "cancel" %>
    <% end %>
  </div>
</div>